@media (max-width: 1920px) {
  h1 {
    font-size: 3vw;
  }
  h2 {
    font-size: 2vw;
  }
  h3 {
    font-size: 1.2vw;
  }
  h4 {
    font-size: 0.91vw;
  }

  .maintitle {
    width: 40%;
  }

  .description {
    width: 24vw;
    min-height: 17vh;
  }

  .infocreatures h4 {
    width: 24vw;
  }

  .infocreatures h4.textinfocreatures {
    width: 21.6vw;
  }

  .container {
    max-width: 1280px;
    gap: 7vw;
  }
}

@media (max-width: 1440px) {
  h2 {
    font-size: 2.4vw;
  }
  .maintitle {
    width: 40%;
  }
  #preloadcircle {
    margin-top: -30vw;
  }
  .description {
    margin-top: 40vw;
    width: 26vw;
    min-height: 17vh;
  }
  .description .closebutton {
    top: 1.3vw;
  }

  .infocreatures {
    width: 26vw;
    min-height: 26vh;
  }
  .infocreatures .closebuttonsecond {
    top: 1.3vw;
  }

  .creature {
    width: 32vw;
  }
  .container {
    max-width: 1100px;
    gap: 5vw;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2vw;
  }
  h3 {
    font-size: 1.3vw;
  }
  h4 {
    font-size: 1.1vw;
  }

  .buttons {
    margin-top: 20vw;
  }

  .description {
    width: 30vw;
    min-height: 16vh;
  }

  .infocreatures {
    width: 30vw;
  }

  .infocreatures h4.textinfocreatures {
    width: 26vw;
  }

  .creature {
    width: 32vw;
  }

  .creature__size {
    height: 3.6vw;
  }

  .container {
    max-width: 950px;
    gap: 5vw;
  }
}

@media (max-width: 1024px) {
  .maintitle {
    width: 50%;
  }
  #preloadcircle {
    margin-top: -20vw;
  }

  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2.5vw;
  }
  h3 {
    font-size: 1.5vw;
  }
  h4 {
    font-size: 1.1vw;
  }

  .buttons {
    margin-top: 26vw;
  }

  .butone,
  .buttwo {
    width: 16vw;
    height: 5vh;
    margin-bottom: 1vw;
  }

  .description {
    margin-top: 48vw;
    width: 30vw;
    min-height: 14.5vh;
  }

  .infocreatures {
    top: 2.7vh;
    width: 30vw;
  }
  .infocreatures h4.textinfocreatures {
    width: 26vw;
  }

  .creature {
    width: 36vw;
  }
  .creature__title {
    font-size: 1.8em;
    letter-spacing: 0.2vw;
  }

  .creature__description {
    font-size: 1vw;
    width: 75%;
    letter-spacing: 0.03vw;
  }

  .creature__size {
    font-size: 0.7em;
    letter-spacing: 0.1vw;
    width: 35%;
    height: 4.2vw;
  }

  .container {
    max-width: 790px;
    gap: 5vw;
  }
}

@media (max-width: 768px) {
  .maintitle {
    margin-top: -30vw;
    width: 60%;
  }
  #preloadcircle {
    margin-top: 25vw;
    width: 5%;
    height: 5%;
    border: 2px solid white;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  h3 {
    font-size: 2.8vw;
  }
  h4 {
    font-size: 2.1vw;
  }
  .maininfo {
    margin-top: 2vw;
    margin-left: 2vw;
    position: absolute;
  }

  .buttons {
    margin-left: 2vw;
    margin-top: 46vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .butone,
  .buttwo {
    width: 25vw;
    height: 6vh;
  }

  .description {
    margin-left: 2vw;
    margin-top: 76vw;
    min-height: 16vh;
    width: 48vw;
  }
  .creature__description {
    font-size: 1.45vw;
    width: 78%;
    letter-spacing: 0.03vw;
  }

  .creature__size {
    font-size: 0.7em;
    letter-spacing: 0.1vw;
    width: 35%;
    height: 6.1vw;
  }

  .description .closebutton {
    width: 3.7vw;
    height: 3.7vw;
    top: 1.6vw;
  }

  .infocreatures .closebuttonsecond {
    width: 3.7vw;
    height: 3.7vw;
  }

  .infocreatures {
    top: 2.8vh;
    right: 2.5vw;
    width: 45vw;
    min-height: 20vh;
  }

  .infocreatures h4.textinfocreatures {
    width: 38vw;
  }

  .first_screen {
    min-height: 120vh;
  }
  .second_screen {
    margin-top: 5vw;
  }

  .textheadergallery {
    margin-top: 10vw;
  }

  .creature {
    top: 10vw;
    width: 50vw;
  }

  .container {
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    gap: 1vw;
  }

  .contact-form {
    width: 50vw;
    margin-top: 15vw;
    padding: 2vw;
  }

  .profile-picture {
    width: 12vw;
    height: 12vw;
    margin-bottom: 2vw;
    height: 14vw;
  }

  input {
    font-size: 1.4vw;
    padding: 0.7vw;
    border-radius: 0.9vw;
    margin-bottom: 1.5vw;
  }

  .submit a {
    font-size: 1.4vw;
    padding: 0.7vw;
    border-radius: 0.9vw;
  }

  .submarine-container {
    width: 50vw;
  }

  #submarine {
    max-width: 90%;
  }

  .logo {
    width: 18vw;
    height: 12vw;
  }

  .footer-left h4:first-child {
    font-size: 2vw;
    letter-spacing: 0.06vw;
  }

  .footer-left h4:last-child {
    font-size: 2vw;
    letter-spacing: 0.06vw;
  }
}

@media screen and (max-width: 579px) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3.2vw;
  }
  h3 {
    font-size: 4vw;
  }
  h4 {
    font-size: 3vw;
  }
  .maintitle {
    top: 0;
    width: 60%;
  }
  #preloadcircle {
    margin-top: 50vw;
    width: 7%;
    height: 4.5%;
    border: 2px solid white;
  }

  .preloader {
    height: 100vh;
  }

  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 7.5vw;
  }
  h3 {
    font-size: 4vw;
  }
  h4 {
    font-size: 2.6vw;
  }
  .maininfo {
    margin-top: 2.5vw;
    margin-left: 2.5vw;
  }
  .buttons {
    margin-top: 30vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .butone,
  .buttwo {
    width: 35vw;
    height: 5vh;
    margin-bottom: 2vw;
  }
  .description {
    margin-top: 70vw;
    margin-left: 2.5vw;
    width: 68%;
    min-height: 14vh;
  }
  .infocreatures {
    margin-top: 92vw;
    left: 2.5vw;
    width: 68%;
    min-height: 32vh;
  }
  .infocreatures h4.textinfocreatures {
    width: 60vw;
  }
  .infocreatures h4 {
    width: 67vw;
  }

  .description .closebutton {
    top: 1.5vw;
    right: 1vw;
    width: 6vw;
    height: 6vw;
  }

  .infocreatures .closebuttonsecond {
    top: 1.5vw;
    right: 1vw;
    width: 6vw;
    height: 6vw;
  }
  .first_screen {
    min-height: 115vh;
  }
  .second_screen {
    margin-top: 5vw;
    min-height: 100vh;
  }

  .textheadergallery {
    margin-top: 20vw;
  }
  .creature__title {
    margin-top: 1vw;
    font-size: 1.4em;
  }

  .creature {
    top: 40vw;
    width: 75vw;
  }

  .creature__description {
    margin-top: 1vw;
    width: 72%;
    font-size: 1.9vw;
  }

  .creature__size {
    margin-top: 3.5vw;
    width: 16vw;
    font-size: 0.6em;
  }

  .creature__image {
    height: 74%;
  }
  .container {
    min-height: auto;
  }
  .third_screen {
    margin-top: 5vw;
    min-height: 100vh;
  }
  .contact-form {
    width: 62vw;
    height: auto;
    margin-top: 16vw;
    column-gap: normal;
  }

  .profile-picture {
    width: 16vw;
    height: 16vw;
    margin-bottom: 4vw;
  }

  input {
    font-size: 1.7vw;
    padding: 1.4vw;
    border-radius: 1.2vw;
    margin-bottom: 2.5vw;
  }

  .submit a {
    font-size: 1.7vw;
    padding: 1.4vw;
    border-radius: 1.2vw;
  }

  .submarine-container {
    width: 60vw;
    margin-top: 0;
  }

  #submarine {
    max-width: 100%;
  }
  .logo {
    width: 24vw;
    height: 12vw;
  }

  .footer-left h4:first-child {
    font-size: 3vw;
    letter-spacing: 0.06vw;
  }

  .footer-left h4:last-child {
    font-size: 3vw;
    letter-spacing: 0.06vw;
  }
}
