@media (max-width: 1920px) {
  .description {
    width: 28vw;
    min-height: 17vh;
  }

  .infocreatures h4 {
    width: 20vw;
  }

  .creature__description {
    margin-top: 0.5vw;
    width: 75%;
  }

  .creature__size {
    margin-top: 0.5vw;
  }

  .container {
    max-width: 1280px;
    gap: 7vw;
  }
}

@media (max-width: 1440px) {
  .maintitle {
    width: 50%;
  }
  #preloadcircle {
    margin-top: -20vw;
  }
  .description {
    margin-top: 40vw;
    width: 28vw;
    min-height: 17vh;
  }
  .infocreatures {
    width: 30vw;
  }

  .creature {
    top: 2vw;
    width: 32vw;
  }
  .creature__description {
    margin-top: 1vw;
    width: 70%;
  }

  .creature__size {
    margin-top: 1vw;
  }

  .creature__image {
    height: 68%;
  }

  .container {
    max-width: 1100px;
    gap: 5vw;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2vw;
  }
  h3 {
    font-size: 1.5vw;
  }
  h4 {
    font-size: 1.4vw;
  }
  h5 {
    font-size: 1.3vw;
  }

  .buttons {
    margin-top: 20vw;
  }

  .description {
    width: 32vw;
    min-height: 16vh;
  }

  .infocreatures {
    width: 26vw;
  }

  .creature {
    top: 4vw;
    width: 34vw;
    height: 60vh;
  }
  .creature__description {
    margin-top: 1vw;
    width: 62%;
  }

  .creature__size {
    margin-top: 1vw;
  }

  .creature__image {
    height: 69%;
  }

  .container {
    max-width: 950px;
    gap: 5vw;
  }
}

@media (max-width: 1024px) {
  .buttons {
    margin-top: 26vw;
  }

  .butone,
  .buttwo {
    width: 15vw;
    height: 4.5vh;
    margin-bottom: 1vw;
  }

  .description {
    margin-top: 48vw;
    width: 40vw;
    min-height: 14.5vh;
  }

  .infocreatures {
    top: 2.7vh;
    width: 35vw;
  }

  .creature {
    top: 2vw;
    width: 38vw;
    height: 54vh;
  }
  .creature__description {
    margin-top: 1vw;
    width: 65%;
  }

  .creature__size {
    margin-top: 1vw;
  }

  .creature__image {
    height: 72%;
  }

  .container {
    max-width: 790px;
    gap: 5vw;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2.8vw;
  }
  h4 {
    font-size: 2.3vw;
  }
  h5 {
    font-size: 1.9vw;
  }
  .maininfo {
    margin-top: 2vw;
    margin-left: 2vw;
    position: absolute;
  }

  .buttons {
    margin-left: 2vw;
    margin-top: 46vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .butone,
  .buttwo {
    width: 25vw;
    height: 6vh;
  }

  .description {
    margin-left: 2vw;
    margin-top: 76vw;
    min-height: 16vh;
    width: 60vw;
  }

  .description .closebutton {
    width: 4vw;
    height: 4vw;
  }

  .infocreatures .closebuttonsecond {
    width: 4vw;
    height: 4vw;
  }

  .infocreatures h4 {
    width: 50vw;
  }

  .first_screen {
    min-height: 120vh;
  }
  .second_screen {
    margin-top: 5vw;
  }

  .infocreatures {
    top: 2.8vh;
    right: 2.5vw;
    width: 60vw;
    min-height: 20vh;
  }

  .textheadergallery {
    margin-top: 10vw;
  }

  .creature {
    top: 15vw;
    width: 45vw;
    height: 50vh;
  }
  .creature__description {
    margin-top: 1vw;
    width: 70%;
    font-size: 1.2vw;
  }

  .creature__size {
    margin-top: 3vw;
    width: 12vw;
  }

  .creature__image {
    height: 68%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    gap: 1vw;
  }

  .contact-form {
    width: 45vw; /* Уменьшаем ширину формы */
    margin-top: 15vw; /* Уменьшаем верхний отступ */
    padding: 2vw; /* Уменьшаем внутренний отступ */
  }

  .profile-picture {
    width: 12vw;
    height: 12vw;
    margin-bottom: 2vw;
    height: 14vw;
  }

  input {
    font-size: 1.2vw;
    padding: 0.9vw;
    border-radius: 0.7vw;
    margin-bottom: 1.5vw;
  }

  .submit a {
    font-size: 1.2vw;
    padding: 0.9vw;
    border-radius: 0.7vw;
  }

  .submarine-container {
    width: 45vw;
  }

  #submarine {
    max-width: 90%;
  }
}

@media screen and (max-width: 579px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  h3 {
    font-size: 4vw;
  }
  h4 {
    font-size: 2.6vw;
  }
  h5 {
    font-size: 3.2vw;
  }
  .maininfo {
    margin-top: 2.5vw;
    margin-left: 2.5vw;
  }
  .buttons {
    margin-top: 30vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .butone,
  .buttwo {
    width: 40vw;
    height: 6vh;
    margin-bottom: 2vw;
  }
  .description {
    margin-top: 70vw;
    margin-left: 2.5vw;
    width: 80%;
  }
  .infocreatures {
    margin-top: 100vw;
    left: 2.5vw;
    width: 80%;
    min-height: 20vh;
  }

  .infocreatures h4 {
    width: 67vw;
  }

  .textheadergallery {
    margin-top: 20vw;
  }
  .creature__title {
    font-size: 1.1em;
  }
  .creature {
    top: 30vw;
    width: 55vw;
    height: 45vh;
  }
  .creature__description {
    margin-top: 1vw;
    width: 70%;
    font-size: 1.5vw;
  }

  .creature__size {
    margin-top: 4vw;
    width: 12vw;
    font-size: 0.5em;
  }

  .creature__image {
    height: 74%;
  }
  .container {
    min-height: auto;
  }

  .contact-form {
    width: 62vw;
    height: auto;
    margin-top: 16vw;
    column-gap: normal;
  }

  .profile-picture {
    width: 16vw;
    height: 16vw;
    margin-bottom: 4vw;
  }

  input {
    font-size: 1.7vw;
    padding: 1.4vw;
    border-radius: 1.2vw;
    margin-bottom: 2.5vw;
  }

  .submit a {
    font-size: 1.7vw;
    padding: 1.4vw;
    border-radius: 1.2vw;
  }

  .submarine-container {
    width: 60vw;
    margin-top: 0;
  }

  #submarine {
    max-width: 100%;
  }
}
